<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Expense App</title>
</head>
<body>
    <div id="div-outer">
        <header>Expense APP</header>
        <div id="div-mesg">
         <h1>FILL THE FORM</h1>
         <form  id="my-form" >
         <div id="div-form">
            <label> Choose a Expense</label><br>
            <input type="number" id="typeid" name="typeid" required>
            <br>
            <label> Choose a description </label><br>
            <input list="browsers" name="browserid"  id="browserid" placeholder="select one any" required ><br>
            <datalist id="browsers" >
              <option value="Party">
              <option value="Fuel">
              <option value="Bill">
            </datalist>
            <br>
            <label> Choose a category </label><br>
            <select id="shashank" name="selectedid" required >
             <option value="" >select any one</option>
               <option value="food">FOOD</option>
               <option value="diesel">diesel</option>
               <option value="petrol">petrol</option>
               <option value=" E-bill">electricity bill</option>
               
             </select><br><br>
          <button id="submit" >Add Expense</button>
           <br>
           <br>
         </div>
         </form>
         <ul id="userlist"></ul>
        </div>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.27.2/axios.min.js"></script>
        <script src="frontend.js"></script>
    </div>
</body>
</html>